@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import "tailwindcss";

html,
body,
#root {
  @apply box-border;
}

@layer component {
  .btn {
    @apply absolute w-1/2 h-1/2 transition-all border-8;
  }
  .title {
    font-family: "Press Start 2P", cursive;
    font-size: 2rem;
    margin: 5%;
    color: #fef2bf;
  }
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: white;
  }
}
